[submodule "themes/zhaoo"]
	path = themes/zhaoo
	url = https://github.com/zhaoo/hexo-theme-zhaoo.git
[submodule "themes/personal"]
	path = themes/personal
	url = https://github.com/LucivorLin/hexo-theme-personal.git
